/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

/* ######################## PYTHON SYNTAX HIGHLIGHT ######################### */
// standard colors
.syntax--python{
  color:#abb2bf;
}

// doctstrings & comments
.syntax--python .syntax--block .syntax--begin,
.syntax--python .syntax--block .syntax--end,
.syntax--python .syntax--block,
.syntax--python .syntax--comment,
.syntax--python .syntax--comment .syntax--comment{
  background-color:#565661;
  color:#fff !important;
}

// docstring whitespace
.syntax--python .leading-whitespace,
.syntax--python .syntax--leading{
  background-color:rgb(37, 41, 49) !important;
}

// keywords
.syntax--python .syntax--keyword,
.syntax--python .syntax--storage,
.syntax--python .syntax--logical{
  color:#6585bf !important;
  font-style:italic;
  font-weight:bold;
}

// classes & objects
.syntax--python .syntax--class .syntax--name{
  color:#d2a946 !important;
}

// functions
.syntax--python .syntax--function .syntax--magic,
.syntax--python .syntax--method-call .syntax--entity,
.syntax--python .syntax--function-call .syntax--entity,
.syntax--python .syntax--method-call .syntax--magic,
.syntax--python .syntax--function-call .syntax--builtin{
  color:none !important;
}

// variables and modules
.syntax--python .syntax--language,
.syntax--python .syntax--function .syntax--parameter,
.syntax--python .syntax--function-call,
.syntax--python .syntax--variable,
.syntax--python .syntax--separator{
  color:#abb2bf !important;
  font-weight:normal;
}

// constants
// .syntax--python .syntax--item-access{
//   color:#86593b;
// }

// properties
.syntax--python .syntax--property{
  color:#e5c07b !important;
  font-weight:normal;
}

// strings
.syntax--python .syntax--single-line .syntax--string,
.syntax--python .syntax--single-line,
span.syntax--string, .syntax--quoted{
  color:#787887 !important;
  font-style:italic;
}

// bools and other words
//.syntax--python .syntax--language,
.syntax--python .syntax--parameters .syntax--language,
.syntax--python .syntax--value .syntax--language{
  color:#9f4b47 !important;
  font-style:italic;
}

// integers
.syntax--python .syntax--decimal,
.syntax--python .syntax--constant .syntax--language{
  color:#d28338;
  font-weight:normal;
}

// operators and symbols
//.syntax--python .syntax--list .syntax--definition,
.syntax--python .syntax--bracket,
.syntax--python .syntax--operator .syntax--keyword,
.syntax--python .syntax--separator,
.syntax--python .syntax--dictionary .syntax--valuepair,
.syntax--python .syntax--assignment,
.syntax--python .syntax--punctuation,
.syntax--python .syntax--arithmetic,
.syntax--python .syntax--comparison,
.syntax--python .syntax--parameters{
  color:#455a81 !important;
  font-weight:bold;
}
/* ########################################################################## */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

/* mini map */
atom-text-editor atom-text-editor-minimap.absolute.left, html atom-text-editor-minimap.absolute.left{
  background: -webkit-linear-gradient(200deg, rgb(33,37,43), rgb(25,30,35));
  border-right:1px solid rgb(25,30,35);
}

/* code line height */
atom-text-editor .line{
  //line-height: 1.2em;
}

/* code line highlight */
.cursor-line{
  background-color: rgb(40, 50, 70) !important;
}

.outline-view-core .outline-view-trees li.list-item.outline-view-item {
  line-height: 1.7em;
}
.outline-view-core .list-group .selected::before, .list-tree .selected::before {
  height: 1.7em;
}
.outline-view-core .list-group li:not(.list-nested-item), .list-tree li:not(.list-nested-item), .list-group li.list-nested-item > .list-item, .list-tree li.list-nested-item > .list-item {
  line-height: 1.5em;
}
.outline-view-core .list-tree.has-collapsable-children .list-nested-item > .list-tree > li, .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
  // line-height: 1.7em;
}

/* project tree view */
li[is="tree-view-directory"] .entries span{
  margin-bottom:1px;
  margin-top:1px;
}
.project-root-header{
  background: -webkit-linear-gradient(rgb(33,37,43), rgb(25,30,35));
}
.tree-view{
  background: -webkit-linear-gradient(rgb(33,37,43), rgb(25,30,35));
}

/* outline view */
.outline-view-trees-scroller{}
.outline-view ol li div.list-item{}

/* status bar */
.status-bar{
  background: -webkit-linear-gradient(rgb(33,37,43), rgb(25,30,35));
}

/* tab bar*/
.tab-bar{
  background: -webkit-linear-gradient(rgb(33,37,43), rgb(25,30,35));
}
.close-icon{
  background: -webkit-linear-gradient(90deg, rgb(33,37,43), rgb(25,30,35));
}
ul[is="atom-tabs"] li[is="tabs-tab"]{
  //border-top-right-radius:10px !important;
  background-color: rgb(33,37,43);
  background: -webkit-linear-gradient(90deg, rgb(33,37,43), rgb(25,30,35));
}

.item-views{
  background: -webkit-linear-gradient(rgb(33,37,43), rgb(25,30,35));
}

/* text editor */
atom-text-editor{
  background-color: rgb(37, 41, 49);
  //background: -webkit-linear-gradient(-90deg, rgb(33,37,43), rgb(40,44,52));
}

/* github */
.github-StagingView-header{
  background: -webkit-linear-gradient(rgb(33,37,43), rgb(25,30,35));
}
.github-FilePatchListView-item{
  padding:0px 10px;
}
.github-CommitView-editor .lines .highlights{
  background-color: rgb(40, 44, 52);
}

/* title bars */
.title{
  font-weight:bold;
}

/* terminal */
.terminal-pane{
  //background:-webkit-linear-gradient(rgb(30,30,35), rgb(15,15,20));
  background-color:rgb(20,20,20);
}

/* todo panel */
/*.show-todo-preview .todo-table th, .show-todo-preview .todo-table td{
  padding:0px;
}*/

.tree-view .tree-view-root {
  padding-right:0px;
}

.line {
  //transition: .5s ease-in;
}
.line .cursor-line {
  background-color: @base-background-color;
  text-shadow: 3px 10px 25px rgba(0,0,0,1);
  padding: 5px 0;
  border-left: 3px solid #ff4500;
}
